
<%= form_for @changeset, @action, [class: "opportunity-form form-inline", as: :opportunity], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

   <div class="form-group">
     <%= label f, :name, class: "form-label" %>
     <%= text_input f, :name, class: "form-input" %>
     <%= error_tag f, :name %>
   </div>

<div class="columns">
   <div class="column col-6">
   <div class="form-group">
     <%= label f, :stage , class: "form-label" %>
     <%= text_input f, :stage , class: "form-input" %>
     <%= error_tag f, :stage  %>
   </div>
   </div>
   <div class="column col-6">
     <div class="form-group">
     <%= label f, :close_date, class: "form-label" %>
     <%= text_input f, :close_date, class: "form-input ", type: "date" %>
     <%= error_tag f, :close_date %>
     </div>
     </div>
     </div>

<div class="columns">
   <div class="column col-6">
   <div class="form-group">
     <%= label f, :probability , class: "form-label" %>
     <%= number_input f, :probability , class: "form-input" %>
     <%= error_tag f, :probability  %>
     </div>
     </div>
 <div class="column col-6">
     <div class="form-group">
     <%= label f, :discount , class: "form-label" %>
     <%= number_input f, :discount , class: "form-input" %>
     <%= error_tag f, :discount %>
     </div>
     </div>
     </div>




     <div class="columns">
   <div class="column col-6">
   <div class="form-group">
   
<%= label f, :amount, class: "form-label" %>
     <%= text_input f, :amount, class: "form-input" %>
     <%= error_tag f, :amount %>
     </div>
     </div>
 <div class="column col-6">
     <div class="form-group">
     <%= label f, :assignee, class: "form-label" %>
     <%= text_input f, :assignee, class: "form-input" %>
     <%= error_tag f, :assignee %>
     </div>
     </div>
     </div>

     <div class="form-group">
   <label class="form-label">Account </label>
     <%= select f, :account_id, @account, class: "form-select" %>
  <%= error_tag f, :account_id %>
     </div>
     

     <div class="form-group">
     <%= label f, :comment, class: "form-label" %>
     <%= textarea f, :comment, class: "form-input" %>
     <%= error_tag f, :comment %>
     </div>
  


<div class="btn acc_btn3 float-right" ><a style="color:#b13231" href="/opportunities"> Back </a></div>

       <%= submit "Create Opportunity", class: "btn acc_btn float-right white_text float-right" %>
       <div style="height:50px">  </div>
<% end %>
</div>
 </div>



   