
<a class="btn acc_btn float-right"  style="color:white" href="/opportunities/new" class="link"> Create Opportunity </a>

<div class="account_page_div">


<table class="table">
  <thead>
    <tr>
  <th class="name">Name</th>
      <th class="stage">Stage</th>
      <th class="amount">Amount</th>
     <th class="probability">Probability</th>
       <th class="assignee">Assigned to</th>
         <th class="close_date"> Close Date </th>
          <th class="discount">Discount</th>
     

    
    </tr>
  </thead>
  <tbody>
<%= for opportunity <- @opportunities do %>
    <tr>
  <td class="mar"><%= link opportunity.name, to: Routes.opportunity_path(@conn, :show, opportunity), style: "color: #363636; font-weight:550"%></td>
      <td><%= opportunity.stage %></td>
      <td><%= opportunity.amount %></td>
      <td><%= opportunity.probability %></td>
      <td><%= opportunity.assignee %></td>
      <td><%= opportunity.close_date %></td>
      <td><%= opportunity.discount %></td>
      

    </tr>
<% end %>
  </tbody>
</table>

</div>