
<a style="color:black" class="btn acc_btn2" href="/opportunity"><b> < </b>Back </a>

<div class="show_account_page_div">


<div class="sum_text"><div class="a_text">Details</div></div>
<div class ="summary columns">
<div class ="column col-7 field_text name" style="padding-top:11px">Account </div>
<div class ="column col-5 bold_field"><span class="pull_right ">    <%= @opportunity.name %> </span></div>

<div class ="column col-7 field_text stage"> Stage </div>
<div class ="column col-5 bold_field"><span class="pull_right ">  <%= @opportunity.stage %></span></div>

<div class ="column col-7 field_text">Amount </div>
<div class ="column col-5 bold_field"><span class="pull_right"><%= @opportunity.amount %> </span></div>


<div class ="column col-7 field_text">Discount </div>
<div class ="column col-5 bold_field"><span class="pull_right"> <%= @opportunity.discount %> </span></div>

<div class ="column col-7 field_text assignee"> Assigned to </div>
<div class ="column col-5 bold_field"><span class="pull_right ">    <%= @opportunity.assignee %>  </span></div>

<div class ="column col-7 field_text"> Close Date </div>
<div class ="column col-5 bold_field"><span class="pull_right">     <%= @opportunity.close_date %>  </span></div>

<div class ="column col-7 field_text"> Probability </div>
<div class ="column col-5 bold_field"><span class="pull_right">     <%= @opportunity.probability %>  </span></div>


<div class ="column col-7 field_text"> Comment </div>
<div class ="column col-5 bold_field"><span class="pull_right">     <%= @opportunity.comment %>  </span></div>

</div>


<a style="color:#b13231" href="/opportunities" class="btn acc_btn3 float-right"> Back </a>g
<div style="height:50px">  
</div>




</div>

<div class="show_notes">
<div class="columns note_title"><div class="column col-9"><p class="clear"><b>Notes</b></p></div><div class="column col-3"><a id="b1"  class="plus">New Note</a></div></div>
<div id="hidden" >
<%= render "form2.html", Map.put(assigns, :action, Routes.opportunity_path(@conn, :addnote, @opportunity)) %>
</div>



<%= for acc <- @opportunity.notes do %>
<div class="note_view">

<%= acc.description %>
<div class="time"><%= acc.inserted_at %></div>

<% end %>

</div>
