<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bill · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>

    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
       <div class= "title-pane">
   
       
        <div class= "header-text"><span class= "header-text-1">CRM</span>
         <a  class= "header-text-2" href="/accounts">Accounts</a>
         <a  class= "header-text-3" href="/opportunities">Opportunities</a>
        <a class= "header-text-3" href="/contacts"> Contacts</a>
       <a  class= "header-text-3" href="/leads">Lead</a>
          </div>
     
          
     
       </div>
   
      <%= render @view_module, @view_template, assigns %>

    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
