<div class="new_note">
<%= form_for @changeset, @action, [class: "note-form form-inline", as: :note],  fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
<div class="columns">
   <div class="column col-12">
   <div class="form-group">
   <%# <label class="form-label assign">Notes </label> %>
     <%= textarea f, :description, class: "form-input" %>
  <%= error_tag f, :description %>
     </div>
</div>
</div>

<div> <%= submit "Add", class: "btn acc_btn_4  white_text" %></div>
<% end %>
</div>