<%= form_for @changeset, @action, [class: "lead-form form-inline", as: :lead, method: "patch"],  fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
<div class="columns">
   <div class="column col-12">
   <div class="form-group">
   <label class="form-label assign">Assign Account </label>
     <%= select f, :account_id, @accounts, class: "form-select full_width" %>
  <%= error_tag f, :account_id %>
     </div>
</div>
</div>

<div> <%= submit "Convert", class: "btn acc_btn_4  white_text" %>
<% end %>