<a class="btn acc_btn float-right"  style="color:white" href="/leads/new" class="link"> Create Lead </a>

<div class="account_page_div">

<table class="table">
  <thead>
    <tr>

      <th class="fullname">Full Name</th>
      <th class="email">Email</th>
      <th class="phone">Phone</th>
      <th class="status">Status</th>
      
      <th class="company">Company</th>
 
     
     
    </tr>
  </thead>
  <tbody>
<%= for lead <- @leads do %>
    <tr>
    <td class="mar"><%= link lead.firstname, to: Routes.lead_path(@conn, :show, lead), style: "color: #363636; font-weight:550"%><span> </span><%= lead.lastname %></td>

      
      <td><%= lead.email %></td>
      <td><%= lead.phone %></td>
      <td><%= lead.status %></td>
      <td><%= lead.company %></td>
   
     
    </tr>
<% end %>
  </tbody>
</table>
