
<a style="color:black" class="btn acc_btn2" href="/leads"><b> < </b>Back </a>

<div class="show_lead_page_div">

<div class="lead_text">Lead Details</div>
<div class ="summary ">
<div class ="lead_content">
  <div class ="lead_name"><%= @lead.firstname %> <%= @lead.lastname %> </div>

<div class ="lead_field"> <i class ="fas fa-envelope icon"></i> <%= @lead.email %>  </div>
<div class ="lead_field"> <i class="fa fa-phone icon"></i><%= @lead.phone %>  </div>
<div class ="lead_field"> <i class="fas fa-user icon"></i><%= @lead.department %>  </div>
<div class ="lead_field space"> <i class="fas fa-address-book icon"></i><%= @lead.street %>  </div>
   <%= if @lead.status =="Converted" do %>
  <a style="color:#b13231" href="/leads" class="btn acc_btn3 float-right" > Back </a>
<div style="height:30px">  </div>
<% else %>

<%= render "form2.html", Map.put(assigns, :action, Routes.lead_path(@conn, :update, @lead)) %>
<% end %>

  <div style="height:50px">  </div>


</div>
</div>
</div>
</div>
</div>

<div class="show_notes">
<div class="columns note_title"><div class="column col-9"><p class="clear"><b>Notes</b></p></div><div class="column col-3"><a id="b1"  class="plus">New Note</a></div></div>
<div id="hidden" >
<%= render "form3.html", Map.put(assigns, :action, Routes.lead_path(@conn, :addnote, @lead)) %>
</div>



<%= for acc <- @lead.notes do %>
<div class="note_view">

<%= acc.description %>
<div class="time"><%= acc.inserted_at %></div>

<% end %>

</div>
