<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

<div class="columns">
   <div class="column col-6">
   <div class="form-group">
  <%= label f, :firstname, class: "form-label" %>
  <%= text_input f, :firstname , class: "form-input" %>
  <%= error_tag f, :firstname %>
  </div>
  </div>
 <div class="column col-6">
     <div class="form-group">
  <%= label f, :lastname, class: "form-label"  %>
  <%= text_input f, :lastname , class: "form-input" %>
  <%= error_tag f, :lastname %>
   </div>
  </div> 
  </div>


<div class="columns">
   <div class="column col-6">
   <div class="form-group">
  <%= label f, :email, class: "form-label" %>
  <%= text_input f, :email , class: "form-input"  %>
  <%= error_tag f, :email %>
</div>
  </div>

 <div class="column col-6">
   <div class="form-group">
  <%= label f, :phone, class: "form-label" %>
  <%= text_input f, :phone, class: "form-input"  %>
  <%= error_tag f, :phone %>
   </div>
  </div> 
  </div>

<div class="columns">
   <div class="column col-6">
   <div class="form-group">
   <label class="form-label">Account <a class="new_btn" href="/accounts/new">Create New</a></label>
     <%= select f, :account_id, @account, class: "form-select full_width" %>
  <%= error_tag f, :account_id %>
     </div>
     </div>
  </div> 



<div class="columns">
   <div class="column col-6">
   <div class="form-group">
  <%= label f, :title, class: "form-label" %>
 <%= select f, :title, @title, class: "form-select" %>
  <%= error_tag f, :title %>
  </div>
  </div>
 <div class="column col-6">
   <div class="form-group">
  <%= label f, :department, class: "form-label" %>
  <%= text_input f, :department, class: "form-input" %>
  <%= error_tag f, :department %>
   </div>
  </div> 
  </div>


<div class="columns">
   <div class="column col-12">
   <div class="form-group">
  <%= label f, :street, class: "form-label" %>
  <%= text_input f, :street, class: "form-input" %>
  <%= error_tag f, :street %>
   </div>
  </div>
    </div>
 

<div class="columns">
   <div class="column col-6">
   <div class="form-group">
  <%= label f, :city, class: "form-label" %>
  <%= text_input f, :city, class: "form-input" %>
  <%= error_tag f, :city %>
   </div>
  </div>

<div class="column col-6">
   <div class="form-group">
  <%= label f, :country , class: "form-label"%>
 <%= select f, :country, @country, class: "form-select" %>
  <%= error_tag f, :country %>
  </div>
  </div> 
  </div>

  
 
<div class="btn acc_btn3 float-right" ><a style="color:#b13231" href="/contacts"> Back </a></div>

       <%= submit "Create Contact", class: "btn acc_btn float-right white_text float-right" %>
       <div style="height:50px">  </div>
<% end %>

</div>
 </div>
