<a class="btn acc_btn float-right"  style="color:white" href="/contacts/new" > Create Contact </a>

<div class="account_page_div">

<table class="table">
  <thead>
    <tr>
  
      <th class="fullname">Full Name</th>
      <th class="email">Email</th>
      <th class="phone">Phone</th>
      
      <th class="account">Account(s)</th>



    </tr>
  </thead>
  <tbody>
<%= for contact <- @contacts do %>
    <tr>
<td class="mar"><%= link contact.firstname, to: Routes.contact_path(@conn, :show, contact), style: "color: #363636; font-weight:550"%><span> </span><%= contact.lastname %></td>

      <td><%= contact.email %></td>
      <td><%= contact.phone %></td>
     <td><%= contact.account.name %></td>
    

    </tr>
<% end %>
  </tbody>
</table>


