
<a style="color:black" class="btn acc_btn2" href="/contacts"><b> < </b>Back </a>

<div class="new_account_page_div">
<%= render "form.html", Map.put(assigns, :action, Routes.contact_path(@conn, :create)) %>


