
<a style="color:black" class="btn acc_btn2" href="/contacts"><b> < </b>Back </a>

<div class="show_lead_page_div">

<div class="lead_text">Personal Details</div>
<div class ="summary ">
<div class ="lead_content">
  <div class ="lead_name"><%= @contact.firstname %> <%= @contact.lastname %> </div>

<div class ="lead_field"> <i class ="fas fa-envelope icon"></i> <%= @contact.email %>  </div>
<div class ="lead_field"> <i class="fa fa-phone icon"></i><%= @contact.phone %>  </div>
<div class ="lead_field"> <i class="fas fa-user icon"></i><%= @contact.department %>  </div>
<div class ="lead_field space"> <i class="fas fa-address-book icon"></i><%= @contact.street %>  </div>


</div>
</div>
</div>
<div class="show_lead_page_div2">
<div class="lead_text">Accounts</div>
<div class ="summary ">
<div class ="lead_content">
   <%= link @contact.account.name, to: Routes.account_path(@conn, :show, @contact.account), class: "btn btn-link show-link", style: "color:#4a90e2" %>
</div>
</div>
</div>
</div>

<div class="show_notes">
<div class="columns note_title"><div class="column col-9"><p class="clear"><b>Notes</b></p></div><div class="column col-3"><a id="b1"  class="plus">New Note</a></div></div>
<div id="hidden" >
<%= render "form2.html", Map.put(assigns, :action, Routes.contact_path(@conn, :addnote, @contact)) %>
</div>
<%= for acc <- @contact.notes do %>
<div class="note_view">

<%= acc.description %>
<div class="time"><%= acc.inserted_at %></div>

<% end %>

</div>
