

   <div class="acc_form">
   <%= form_for @changeset, @action, fn f -> %>
     <%= if @changeset.action do %>
       <div class="alert alert-danger">
         <p>Oops, something went wrong! Please check the errors below.</p>
       </div>
     <% end %>

   <div class="form-group">
     <%= label f, :name, class: "form-label name" %>
     <%= text_input f, :name, class: "form-input" %>
     <%= error_tag f, :name %>
   </div>
<div class="columns">
   <div class="column col-6">
   <div class="form-group">
     <%= label f, :assignee, class: "form-label assignee" %>
     <%= text_input f, :assignee, class: "form-input" %>
     <%= error_tag f, :assignee %>
   </div>
   </div>
   <div class="column col-6">
     <div class="form-group">
     <%= label f, :category, class: "form-label category" %>
     <%= text_input f, :category, class: "form-input" %>
     <%= error_tag f, :category %>
     </div>
     </div>
     </div>

<div class="columns">
   <div class="column col-6">
   <div class="form-group">
     <%= label f, :rating, class: "form-label" %>
     <%= number_input f, :rating, class: "form-input" %>
     <%= error_tag f, :rating %>
     </div>
     </div>
 <div class="column col-6">
     <div class="form-group">
     <%= label f, :tags, class: "form-label" %>
     <%= text_input f, :tags, class: "form-input" %>
     <%= error_tag f, :tags %>
     </div>
     </div>
     </div>

<div class="form-group">
     <%= label f, :comments, class: "form-label" %>
     <%= textarea f, :comments, class: "form-input" %>
     <%= error_tag f, :comments %>
     </div>

     <div class="columns">
   <div class="column col-6">
   <div class="form-group">
     <%= label f, :phone, class: "form-label phone" %>
     <%= text_input f, :phone, class: "form-input" %>
     <%= error_tag f, :phone %>
     </div>
     </div>
 <div class="column col-6">
     <div class="form-group">
     <%= label f, :website, class: "form-label website" %>
     <%= text_input f, :website, class: "form-input" %>
     <%= error_tag f, :website %>
     </div>
     </div>
     </div>

<div class="form-group">
     <%= label f, :email, class: "form-label" %>
     <%= text_input f, :email, class: "form-input" %>
     <%= error_tag f, :email %>
     </div>
<div class="form-group">
     <%= label f, :billing_address , class: "form-label" %>
     <%= text_input f, :billing_address , class: "form-input" %>
     <%= error_tag f, :billing_address  %>
     </div>


     <div class="columns">
   <div class="column col-6">
   <div class="form-group">
     <%= label f, :street1, class: "form-label" %>
     <%= text_input f, :street1, class: "form-input" %>
    <span class="help-block"> <%= error_tag f, :street1 %></span>
     </div>
     </div>
 <div class="column col-6">
   <div class="form-group">
     <%= label f, :street2, class: "form-label" %>
     <%= text_input f, :street2, class: "form-input" %>
     <%= error_tag f, :street2 %>
   </div>
   </div>
   </div>

<div class="columns">
   <div class="column col-6">
   <div class="form-group">
     <%= label f, :city, class: "form-label" %>
     <%= text_input f, :city, class: "form-input" %>
     <%= error_tag f, :city %>
     </div>
     </div>
 <div class="column col-6">
   <div class="form-group">
     <%= label f, :country, class: "form-label" %>
     <%= text_input f, :country, class: "form-input" %>
     <%= error_tag f, :country %>
   </div>
   </div>
   </div>
   <div class="columns">
   <div class="column col-12 column">
    <div class="column col-6" style="padding-left:0px">
   <div class="form-group">
     <%= label f, :post_code, class: "form-label" %>
     <%= number_input f, :post_code, class: "form-input" %>
     <%= error_tag f, :post_code %>
   </div> 
   <div class="column col-6">
   </div>
    </div>   </div> </div>
   
<div class="btn acc_btn3 float-right" ><a style="color:#b13231" href="/accounts"> Back </a></div>

       <%= submit "Create Account", class: "btn acc_btn float-right white_text float-right" %>
       <div style="height:50px">  </div>
     </div>
   <% end %>
 </div>
 </div>