

<a class="btn acc_btn float-right"  style="color:white" href="/accounts/new" class="link"> Create Account </a>

<div class="account_page_div ">


<table class="table">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="assignee">Assigned to</th>
      <th class="category">Category</th>
     <th class="number">Phone Number</th>
       <th class="city">City</th>
         <th class="rating">Rating</th>
     
     

   
    </tr>
  </thead>
  <tbody>
<%= for account <- @accounts do %>
    <tr >
      <td class="mar"><%= link account.name, to: Routes.account_path(@conn, :show, account), style: "color: #363636; font-weight:550"%></td>
      <td><%= account.assignee %></td>
      <td><%= account.category %></td>
       <td><%= account.phone %></td>
        <td><%= account.city %></td>
      <td><%= account.rating %></td>
     



     

    </tr>
<% end %>
  </tbody>
</table>


</div>