
<a style="color:black" class="btn acc_btn2" href="/accounts"><b> < </b>Back </a>

<div class="new_account_page_div">



<%= render "form.html", Map.put(assigns, :action, Routes.account_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.account_path(@conn, :index) %></span>
</div>