<a style="color:black" class="btn acc_btn2" href="/accounts"><b> < </b>Back </a>

<div class="show_account_page_div">





  <div class="acc_name"><%= @account.name %> </div>
   <div class="acc_website"> <%= @account.website %></div>
    <div class="acc_phone"><%= @account.phone %></div>



    <div class="acc_bill"> <strong>Billing address:</strong></div>
     <p class="acc_addr"> <%= @account.billing_address %></p>
 




<div class="sum_text"><div class="a_text">Account Summary</div></div>
<div class ="summary columns">
<div class ="column col-7 field_text" style="padding-top:11px"> City </div>
<div class ="column col-5 bold_field"><span class="pull_right"> <%= @account.city %></span></div>

<div class ="column col-7 field_text"> Country</div>
<div class ="column col-5 bold_field"><span class="pull_right"><%= @account.country %> </span></div>

<div class ="column col-7 field_text"> Category </div>
<div class ="column col-5 bold_field"><span class="pull_right"><%= @account.category %> </span></div>


<div class ="column col-7 field_text"> Rating </div>
<div class ="column col-5 bold_field"><span class="pull_right"> <%= @account.rating %> </span></div>

<div class ="column col-7 field_text"> Assigned to </div>
<div class ="column col-5 bold_field"><span class="pull_right">    <%= @account.assignee %>  </span></div>




</div>



<a class="btn acc_btn3 float-right" style="color:#b13231" href="/accounts"> Back </a>
<div style="height:50px">  </div>
</div>

<div class="show_notes">
<div class="columns note_title"><div class="column col-9"><p class="clear"><b>Notes</b></p></div><div class="column col-3"><a id="b1"  class="plus">New Note</a></div></div>
<div id="hidden" >
<%= render "form2.html", Map.put(assigns, :action, Routes.account_path(@conn, :addnote, @account)) %>
</div>


<%= for acc <- @account.notes do %>
<div class="note_view">

<%= acc.description %>
<div class="time"><%= acc.inserted_at %></div>

<% end %>
</div>
</div>


