/* This file is for your main application css. */

@import "./phoenix.css";
@import "../node_modules/spectre.css/dist/spectre.min.css";
@import "../node_modules/spectre.css/dist/spectre-exp.min.css";


html{height:100%}
body{width:100%; min-height: 100%; background-color:  #f9f9f9; font-size: 13px}
.content-pane{margin:83px 66px 0px 46px ; background-color: #ffffff; height:100%; padding-left:37px; padding-top:18px}
.grid-container{ width:100%; height:1600px; margin-bottom: 0px; padding-bottom: 0px; overflow:hidden }
.main-pane{margin: 0px; padding: 0px; background-color:  #f9f9f9; }
.title-pane{ background-color: #ffffff; height:50px; border-bottom: 1px rgba(151, 151, 151, 0.3) solid;   margin-top:0px;  width:100%; padding-left:101px; }
.acc-details {margin-top: 30px; margin-left: 46px; background-color: #fff; width: 60%; height: 115px; padding: 32px 32px 0 12px  }
.acc-details span{font-size: 14px}
.account_page_div{ margin:86px 38px; background-color: #ffffff; margin-left: 39px; margin-right:39px; border: 1px solid #dfe3e6}
.acc_btn{width:156px; margin:24px 39px; height:36px; background-color: #b13231; font-size:13px;  padding: 6px 12px; /* line-height: 20px; */ border:0;  font-weight: bold;}

.mar{margin-left:30px}
.new_account_page_div{color:#9b9b9b}
.show_account_page_div{padding:25px ; margin-top:0px; background-color: #ffffff; margin-left: 39px; margin-right:39px; border: 1px solid #dfe3e6; width:300px;}
.acc_name{font-size:18px}
.acc_btn2{border:1px solid #dfe3e6!important ;color:black; width:81px; margin:24px 39px; height:32px; background-color:  #ffffff; font-size:14px;  padding:8px 10px 8px 10px ; line-height: 20px; border:0; margin-bottom: 30px }
.field_text{color:#4a4a4a; font-size:13px; line-height: 1.5 }
.bold_field{color:#000000; font-size:13px; text-align:right; font-weight:800 }
.pull_right{margin-right: 0px}
.summary{border-top: 1px solid #dfe3e6}
.sum_text{font-size:15px; color:#000000; }
.a_text{padding-bottom:0px; font-weight: normal }
.acc_website{font-size:13px; color:#4a4a4a}
.acc_phone{font-size:13px; color:#000000}
.acc_bill{font-size:15px; color:#4a4a4a; margin-top:20px}
.acc_addr{font-size:13px; color:#000000}
.acc_btn3{width:156px; margin-top:24px ; height:36px; background-color: #ffffff; font-size:14px;  padding:8px 10px 8px 10px ; line-height: 20px; border:1px solid #c4cdd5; float:right }
.header-text{padding-top:0px ; }
.header-text-1{padding-top:10px ; font-size: 30px;  color: #000000; font-weight:600}
.header-text-2{padding-top:10px ; margin-left:108px; font-size:16px; line-height: 22px; font-weight:600; color:#4a4a4a !important; }
.header-text-3{padding-top:10px ; margin-left:82px; font-size:16px; line-height: 22px; width:160px; font-weight:600; color:#4a4a4a !important; }
.header-text-2:hover{color:#b13231 !important; text-decoration: none } .header-text-2:active{color:#b13231 !important;text-decoration: none } .header-text-2:visited{color:#b13231; text-decoration: none }
.header-text-3:hover{color:#b13231 !important; text-decoration: none } .header-text-3:active{color:#b13231 !important; text-decoration: none } .header-text-3:visited{color:#b13231; text-decoration: none  }
.new_account_page_div{padding:25px 36px; margin-top:24px; background-color: #ffffff; margin-left: 39px; margin-right:39px; border: 1px solid #dfe3e6; width:676px; font-size:14px}
.links{color: #252525}
.acc_form { padding: 30px !important;  }
.form label {color: #9b9b9b !important  ; font-size: 14px;}
.white_text{color:white !important}
.full_width{width:100%; height:100%}
.a_width{width:80%}
.help-block{margin:0px}
.table td, .table th { padding: 6px .4rem;}

.new_btn{height: 17px; width: 78px; padding-left: 138px; color: #4a90e2; font-weight: 600 }
.new_btn:visited{color: #4a90e2}
.new_btn:hover{color: #4a90e2}
.new_btn:active{color: #4a90e2}

.show_lead_page_div{padding:5px 7px; margin-top:0px; background-color: #ffffff; margin-left: 39px; margin-right:39px; border: 1px solid #dfe3e6; width:300px; overflow: auto}
.show_lead_page_div2{padding:5px 7px; margin-top:24px; background-color: #ffffff; margin-left: 39px; margin-right:39px; border: 1px solid #dfe3e6; width:300px; height:auto; margin-bottom: 50px }
.show_notes{padding:5px 7px; margin-top:24px; background-color: #ffffff; margin-left: 39px; margin-right:39px; border: 1px solid #dfe3e6; width:300px; height:auto; margin-bottom:50px }
.lead_text{padding:16px 0px 13px 17px; color:#000000; font-size: 15px; padding-bottom: 0px }
.lead_content{ margin-left: 17px  }
.lead_name{font-size:18px; color:#000000; line-height: 22px; margin-top: 12px;  }
.lead_field{margin-top: 5px }
.icon{margin-right:10px; color:#b13231 }
.space{margin-bottom:26px}
.acc_btn_4{width:156px; margin-top:24px; margin-right: 0px; margin-left: 90px; height:36px; background-color: #b13231; font-size:13px;  padding: 6px 12px; /* line-height: 20px; */ border:0;  font-weight: bold;}
.assign{color:#9b9b9b}
.note_view{padding:9px 0px; margin:5px 0px;border-bottom: 0px solid rgb(214, 214, 214) }
.new_note{margin-top: 5px; padding-bottom:15px;}
.time{color:rgb(165, 165, 165); font-size: 9px}
.plus{height: 25px; color:#4a90e2; font-size: 10px}
#hidden{display:none; margin-top:20px;  border-bottom: 1px solid rgb(214, 214, 214)}
.note_title{border-bottom: 1px solid rgb(214, 214, 214); margin-bottom: 1px; margin-top:5px}
.clear{margin-bottom: 15px; color: rgb(92, 92, 92)}